# Database Configuration
DB_USER=postgres  # Change also in servers.json
DB_PASSWORD=postgres  # Change also in servers.json
DB_NAME=gat_db  # Change also in servers.json
DB_HOST=localhost
DB_PORT=5433

# Security (Generate a strong key using: openssl rand -hex 32)
SECRET_KEY=unsafe_secret_key_change_me
ACCESS_TOKEN_EXPIRE_MINUTES =60  # 1 hour